<% @title=@event.name+" | Tech & Startup Events in Los Aneles" %>

<p id="notice"><%= notice %></p>

<p><small><%= link_to 'Back to Home', events_path %></small></p>
<h4>
	<%= @event.starttime.to_date().strftime("%A %B %d, %Y") %>
	<% if @event.starttime.to_date() != @event.endtime.to_date() %>
		<%=	"to " + @event.endtime.to_date().strftime("%B %d, %Y") %>
	<% end %>
</h4>

<h1>
  <%= @event.name %>
</h1>

<p>
  <%= link_to @event.website, @event.website %>
</p>
