<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Los Angeles Technology and Startup Events Calendar">
<meta name="keywords" content="Events, Tech, Startup, LA, Los Angeles, Santa Monica, Silicon Beach">
<meta name="author" content="Yohei Nakajima">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container-fluid">
		<%= link_to " LA Tech Events", root_path, :class => 'brand' %>
		<ul class="nav pull-right">
			<li><%= link_to 'Add New Event', new_event_path %></li>
		</ul>
	</div>
  </div>
</div>
<%= yield %>
</body>
</html>
